@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
#topbar {
  background-color: red;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  background-color: #b1b1b2;
}
#topbar .top-left a {
  color: #fff;
}
#topbar .top-right ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
}
#topbar .top-right ul li {
  float: left;
  padding-left: 10px ;
}
#topbar .top-right ul li span {
  color: #fff;
  padding: 0 10px;
}
#topbar .top-right ul li a {
  color: #fff;
}
.navbar {
  background-color: #fff;
  margin: 0;
}
.navbar .container > .pull-left {
  overflow: hidden;
  list-style: none;
  margin: 0;
  width: 45%;
}
.navbar .container > .pull-left > li {
  float: left;
  padding-right: 2rem;
}
.navbar .container > .pull-left > li:hover > a {
  border-bottom: 4px solid #000;
}
.navbar .container > .pull-left > li:hover .subnav {
  display: block;
}
.navbar .container > .pull-left > li > a {
  padding: 0 1.2rem;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  display: block;
  height: 50px;
}
.navbar .container > .pull-left > li .subnav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 60px 0;
  display: none;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul {
  float: left;
  list-style: none;
  margin-right: 30px;
  width: 100px;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li {
  line-height: 3rem;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li > a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts {
  width: 80%;
  margin: 0 auto;
}
.navbar .container > .pull-left > li .subnav .newProducts a {
  display: block;
  width: 20%;
  float: left;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts a img {
  width: 100%;
  display: block;
}
.navbar .container > .pull-left > li .subnav .newProducts a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .subnav .stars a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .stars a img {
  width: 250px;
}
.navbar .container > .pull-left > li .subnav .stars a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) p {
  margin-bottom: 30px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) a {
  color: #000;
  text-decoration: none;
}
.navbar #nav-right {
  position: relative;
}
.navbar #nav-right > li {
  list-style: none;
  float: left;
  line-height: 50px;
}
.navbar #nav-right > li:first-of-type {
  height: 30px;
  width: 310px;
  position: absolute;
  top: 10px;
  right: 205px;
}
.navbar #nav-right > li:first-of-type fieldset {
  /* border: 1px solid #333; */
  position: absolute;
  width: 300px;
  height: 100%;
}
.navbar #nav-right > li:first-of-type #search {
  width: 130px;
  height: 100%;
  float: right;
  transition: width 1s;
  outline: none;
}
.navbar #nav-right > li:first-of-type .magnifier {
  position: absolute;
  top: -10px;
  right: 0;
}
.navbar #nav-right > li:first-of-type .magnifier span {
  padding: 0 10px;
  cursor: pointer;
}
.navbar #nav-right > li:first-of-type .tips {
  position: absolute;
  /* width: 100%; */
  width: 0%;
  top: 27px;
  box-sizing: border-box;
  border-top: 0;
  transition: width 0.9s;
  overflow: hidden;
  height: 300px;
  right: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.navbar #nav-right > li:first-of-type .tips ul {
  float: left;
  padding: 0;
  width: 45%;
  padding: 0 0 0 24px;
}
.navbar #nav-right > li:first-of-type .tips ul p {
  margin: 10px 0;
  font-weight: bold;
}
.navbar #nav-right > li:first-of-type .tips ul li {
  list-style: none;
  font-size: 10px;
  padding: 3px 0;
  line-height: 15px;
}
.navbar #nav-right > li:nth-of-type(2) {
  margin-left: 235px;
}
.navbar #nav-right > li:nth-of-type(2) a {
  color: #666;
  line-height: 50px;
}
.navbar #nav-right > li:nth-of-type(2) a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car {
  margin-left: 20px;
  position: relative;
}
.navbar #nav-right .car a {
  color: #666;
}
.navbar #nav-right .car a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car a i {
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 5px;
  line-height: 16px;
  position: absolute;
  background-color: red;
  color: #fff;
  top: 8px;
  left: -3px;
  font-style: normal;
}
#smallAdd {
  position: relative;
}
#smallAdd .swiper-container {
  width: 100%;
  color: #fff;
}
#smallAdd .swiper-container img {
  width: 100%;
  display: block;
}
#smallAdd #closetop {
  position: absolute;
  right: 10px;
  width: 2rem;
  height: 2rem;
  z-index: 999999;
  top: 50%;
  margin-top: -1rem;
  text-align: center;
  cursor: pointer;
}
#smallAdd #closetop span {
  color: #eee;
}
#footer {
  background-color: #e6e6e6;
}
#footer .container-fulid {
  height: 63px;
  padding: 10px 0;
  border-bottom: 1px solid #b0b0b0;
}
#footer .container-fulid .row {
  height: 100%;
}
#footer .container-fulid .col-md-6 {
  height: 100%;
  padding: 0 100px;
}
#footer .container-fulid .col-md-6 a {
  display: block;
  width: 100px;
  height: 100%;
  text-decoration: none;
}
#footer .container-fulid .col-md-6 a p {
  text-align: right;
  font-size: 25px;
  color: #1d80ca;
}
#footer .container-fulid .col-md-6 .pull-right {
  background: url(../img/footer-3-icons.png) no-repeat 0px 0px;
}
#footer .container-fulid .col-md-6 .pull-left {
  background: url(../img/footer-3-icons.png) no-repeat -500px 0px;
}
#footer .container {
  border-bottom: 1px solid #b0b0b0;
}
#footer .container .footer-pay > div {
  line-height: 80px;
}
#footer .container .footer-pay > div img {
  margin: 0 10px;
}
#footer .container .footer-main ul {
  float: left;
  margin: 0;
  padding: 0 115px 40px 0;
}
#footer .container .footer-main ul h3 {
  font-size: 1rem;
  font-weight: bold;
}
#footer .container .footer-main ul li {
  list-style: none;
}
#footer .container .footer-main ul li a {
  color: #bfbfbf;
  line-height: 30px;
}
#footer .container .footer-main > div p {
  font-weight: bold;
  padding: 10px 0;
  font-size: 1.5rem;
}
#footer .container .footer-main > div a:nth-of-type(2) {
  position: relative;
  margin-left: 15px;
}
#footer .container .footer-main > div a:nth-of-type(2) .qrcode {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 999;
  width: 200px;
  display: none;
}
#footer .container .footer-main > div a:nth-of-type(2):hover .qrcode {
  display: block;
}
#footer .container .footer-main > div fieldset {
  width: 350px;
  position: relative;
}
#footer .container .footer-main > div fieldset input {
  display: block;
  position: absolute;
  outline: none;
  border: 0;
  height: 100%;
  width: 300px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#footer .container .footer-main > div fieldset button {
  background-color: #333;
  color: #fff;
  width: 50px;
  border: 0;
  font-size: 20px;
  height: 100%;
  padding: 0;
  margin: 0;
}
#footer .footer-bottom {
  padding: 15px 0 80px;
}
#footer .footer-bottom p {
  margin: 0;
}
#footer .footer-bottom img {
  margin: 0 20px;
}
.btn-primary {
  background-color: #002952 !important;
  border-color: #002952 !important;
}
.product-top {
  margin-bottom: 48px;
}
.product-top a {
  color: #000;
  line-height: 40px;
}
.product-top a span {
  padding-right: 15px;
}
.product-left {
  float: left;
  width: 60%;
  position: relative;
  padding-left: 30px;
}
.product-left .swiper-container {
  width: 500px;
  height: 500px;
  float: right;
  margin-right: 20px;
  border: 1px solid #d6d6d6;
  cursor: crosshair;
}
.product-left .swiper-container #magnif {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  position: absolute;
  z-index: 9999;
  display: none;
}
.product-left .swiper-container .swiper-slide img {
  width: 100%;
}
.product-left .swiper-pagination {
  position: absolute;
  top: 0;
  left: 72px;
  width: 60px;
}
.product-left .swiper-pagination .swiper-pagination-bullet {
  width: 77px;
  height: 77px;
  background: none;
  border: 1px solid #333;
  border-radius: 0;
  opacity: 1;
  border-color: #d6d6d6;
}
.product-left .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #000;
}
.product-left .swiper-pagination .swiper-pagination-bullet img {
  width: 100%;
  display: block;
}
.product-left .bigbox {
  position: absolute;
  width: 500px;
  height: 500px;
  right: -500px;
  top: 0;
  overflow: hidden;
  border: 0;
}
.product-left .bigbox .swiper-container {
  width: 700px;
  height: 700px;
  margin: 0;
}
.product-left .bigbox .swiper-container img {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
}
.product-right {
  width: 40%;
  height: auto;
  float: left;
  padding-right: 50px;
  padding-left: 10px;
}
.product-right .p-tag {
  margin-left: -20px;
}
.product-right .p-price {
  border-bottom: 1px solid #666;
}
.product-right .p-price del {
  font-weight: bold;
}
.product-right .p-price em {
  font-style: normal;
  font-weight: bold;
  color: red;
}
.product-right .p-color > div button {
  width: 80px;
  height: 80px;
  border: 1px solid #d6d6d6;
  outline: none;
  margin: 5px 5px;
}
.product-right .p-color > div button img {
  width: 100%;
}
.product-right .p-color > div button.btn-active {
  border: 2px solid #000;
}
.product-right .p-size {
  margin: 10px 0;
}
.product-right .p-size a {
  color: #666;
}
.product-right .p-size > div:nth-child(1) .dropdown > button {
  width: 250px;
}
.product-right .p-size > div:nth-child(1) .dropdown-menu {
  width: 250px;
  padding: 0;
  text-align: center;
}
.product-right .p-size > div:nth-child(1) .dropdown-menu .row {
  width: 98%;
  margin: 0;
}
.product-right .p-size > div:nth-child(1) .dropdown-menu .row .col-xs-2 {
  border: 1px solid #d6d6d6;
  padding: 0;
}
.product-right .p-size > div:nth-child(1) .dropdown-menu .row .col-xs-2 button {
  padding: 5px;
  border: 0;
  background-color: #fff;
}
.product-right .p-size .p-stock {
  width: 80px;
  position: relative;
  height: 100%;
}
.product-right .p-size .p-stock input {
  width: 61%;
  outline: none;
  text-align: center;
  height: 32px;
  border: 1px solid #d6d6d6;
}
.product-right .p-size .p-stock button {
  height: 32px;
  width: 32px;
  position: absolute;
  border: 1px solid #d6d6d6;
  background-color: #fff;
  outline: none;
}
.product-right .p-size .p-stock #mins {
  left: -32px;
}
.product-right .p-size .p-stock #plus {
  right: 0;
}
.product-right .p-btn button {
  width: 45% ;
  outline: none!important;
}
.product-right .p-btn button:nth-of-type(1):hover {
  background-color: #01172e !important;
}
.product-right .p-btn button:nth-of-type(1):active {
  background-color: #000 !important;
}
.product-right .p-link {
  padding: 10px;
  border-bottom: 1px solid #666;
}
.product-right .p-link a {
  color: #666;
  padding: 0 5px;
}
.p-details {
  margin: 50px 30px;
  border-top: 1px solid #333;
  padding-bottom: 30px;
  border-bottom: 1px solid #333;
}
.p-details .details-pic {
  width: 400px;
  height: 400px;
  padding: 0;
}
.p-details .details-pic img {
  width: 100%;
}
.p-details #detail_body {
  width: 610px;
  margin-left: 430px;
  padding-top: 50px;
}
.p-details #detail_body dd {
  line-height: 22px;
  margin: 5px 0 10px  ;
}
.p-details #detail_body dt {
  line-height: 30px;
  font-size: 22px;
}
.p-details #detail_body dl:first-of-type dt {
  font-size: 32px;
  line-height: 56px;
}
.p-details .detail-tips {
  margin-left: 430px;
  width: 610px;
  color: #bbb;
}
.likeTabs {
  width: 100%;
}
.likeTabs ul {
  width: 355px;
}
.likeTabs ul li {
  position: relative;
  float: left;
  list-style: none;
  font-size: 30px;
  line-height: 50px;
  padding: 10px 0px;
  margin: 0 20px;
  cursor: pointer;
}
.likeTabs ul li.tab-active {
  border-bottom: 4px solid #002952;
  color: #002952;
}
.likeTabs ul li:nth-child(1):after {
  content: '';
  display: block;
  height: 40px ;
  width: 4px;
  position: absolute;
  top: 16px;
  right: -23px;
  background-color: #333;
}
.likeTabs > div {
  display: none;
}
.likeTabs > div.tab-show {
  display: block;
}
