@charset 'utf8';
* {
  padding: 0;
  margin: 0;
}
#topbar {
  background-color: red;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  background-color: #b1b1b2;
}
#topbar .top-left a {
  color: #fff;
}
#topbar .top-right ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
}
#topbar .top-right ul li {
  float: left;
  padding-left: 10px ;
}
#topbar .top-right ul li span {
  color: #fff;
  padding: 0 10px;
}
#topbar .top-right ul li a {
  color: #fff;
}
.navbar {
  background-color: #fff;
  margin: 0;
}
.navbar .container > .pull-left {
  overflow: hidden;
  list-style: none;
  margin: 0;
  width: 45%;
}
.navbar .container > .pull-left > li {
  float: left;
  padding-right: 2rem;
}
.navbar .container > .pull-left > li:hover > a {
  border-bottom: 4px solid #000;
}
.navbar .container > .pull-left > li:hover .subnav {
  display: block;
}
.navbar .container > .pull-left > li > a {
  padding: 0 1.2rem;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  display: block;
  height: 50px;
}
.navbar .container > .pull-left > li .subnav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 60px 0;
  display: none;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul {
  float: left;
  list-style: none;
  margin-right: 30px;
  width: 100px;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li {
  line-height: 3rem;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li > a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts {
  width: 80%;
  margin: 0 auto;
}
.navbar .container > .pull-left > li .subnav .newProducts a {
  display: block;
  width: 20%;
  float: left;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts a img {
  width: 100%;
  display: block;
}
.navbar .container > .pull-left > li .subnav .newProducts a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .subnav .stars a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .stars a img {
  width: 250px;
}
.navbar .container > .pull-left > li .subnav .stars a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) p {
  margin-bottom: 30px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) a {
  color: #000;
  text-decoration: none;
}
.navbar #nav-right {
  position: relative;
}
.navbar #nav-right > li {
  list-style: none;
  float: left;
  line-height: 50px;
}
.navbar #nav-right > li:nth-of-type(1) {
  position: absolute;
  border: 1px solid #b1b1b2;
  width: 132px;
  border-radius: 2px;
  line-height: 25px;
  margin-top: 10px;
}
.navbar #nav-right > li:nth-of-type(1) input {
  width: 100px;
  border: 0;
  outline: none;
  padding: 0 1rem;
  transition: all 1s;
}
.navbar #nav-right > li:nth-of-type(2) {
  margin-left: 235px;
}
.navbar #nav-right > li:nth-of-type(2) a {
  color: #666;
  line-height: 50px;
}
.navbar #nav-right > li:nth-of-type(2) a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car {
  margin-left: 20px;
  position: relative;
}
.navbar #nav-right .car a {
  color: #666;
}
.navbar #nav-right .car a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car span::after {
  content: "0";
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 5px;
  line-height: 13px;
  position: absolute;
  background-color: red;
  color: #fff;
  top: 8px;
  left: -3px;
}
#smallAdd {
  position: relative;
}
#smallAdd .swiper-container {
  width: 100%;
  color: #fff;
}
#smallAdd .swiper-container img {
  width: 100%;
  display: block;
}
#smallAdd #closetop {
  position: absolute;
  right: 10px;
  width: 2rem;
  height: 2rem;
  z-index: 999999;
  top: 50%;
  margin-top: -1rem;
  text-align: center;
  cursor: pointer;
}
#smallAdd #closetop span {
  color: #eee;
}
