@charset 'utf8';
* {
  padding: 0;
  margin: 0;
}
#topbar {
  background-color: red;
  height: 25px;
  line-height: 25px;
  padding: 0 20px;
  background-color: #b1b1b2;
}
#topbar .top-left a {
  color: #fff;
}
#topbar .top-right ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
}
#topbar .top-right ul li {
  float: left;
  padding-left: 10px ;
}
#topbar .top-right ul li span {
  color: #fff;
  padding: 0 10px;
}
#topbar .top-right ul li a {
  color: #fff;
}
.navbar {
  background-color: #fff;
  margin: 0;
}
.navbar .container > .pull-left {
  overflow: hidden;
  list-style: none;
  margin: 0;
  width: 45%;
}
.navbar .container > .pull-left > li {
  float: left;
  padding-right: 2rem;
}
.navbar .container > .pull-left > li:hover > a {
  border-bottom: 4px solid #000;
}
.navbar .container > .pull-left > li:hover .subnav {
  display: block;
}
.navbar .container > .pull-left > li > a {
  padding: 0 1.2rem;
  line-height: 50px;
  color: #000;
  text-decoration: none;
  display: block;
  height: 50px;
}
.navbar .container > .pull-left > li .subnav {
  z-index: 9999;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 60px 0;
  display: none;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul {
  float: left;
  list-style: none;
  margin-right: 30px;
  width: 100px;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li {
  line-height: 3rem;
}
.navbar .container > .pull-left > li .subnav .col-md-6 ul li > a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts {
  width: 80%;
  margin: 0 auto;
}
.navbar .container > .pull-left > li .subnav .newProducts a {
  display: block;
  width: 20%;
  float: left;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .newProducts a img {
  width: 100%;
  display: block;
}
.navbar .container > .pull-left > li .subnav .newProducts a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .subnav .stars a {
  color: #333;
  text-decoration: none;
}
.navbar .container > .pull-left > li .subnav .stars a img {
  width: 250px;
}
.navbar .container > .pull-left > li .subnav .stars a p {
  padding-top: 10px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) p {
  margin-bottom: 30px;
}
.navbar .container > .pull-left > li .row > div:nth-of-type(2) a {
  color: #000;
  text-decoration: none;
}
.navbar #nav-right {
  position: relative;
}
.navbar #nav-right > li {
  list-style: none;
  float: left;
  line-height: 50px;
}
.navbar #nav-right > li:first-of-type {
  height: 30px;
  width: 310px;
  position: absolute;
  top: 10px;
  right: 205px;
}
.navbar #nav-right > li:first-of-type fieldset {
  /* border: 1px solid #333; */
  position: absolute;
  width: 300px;
  height: 100%;
}
.navbar #nav-right > li:first-of-type #search {
  width: 130px;
  height: 100%;
  float: right;
  transition: width 1s;
  outline: none;
}
.navbar #nav-right > li:first-of-type .magnifier {
  position: absolute;
  top: -10px;
  right: 0;
}
.navbar #nav-right > li:first-of-type .magnifier span {
  padding: 0 10px;
  cursor: pointer;
}
.navbar #nav-right > li:first-of-type .tips {
  position: absolute;
  /* width: 100%; */
  width: 0%;
  top: 27px;
  box-sizing: border-box;
  border-top: 0;
  transition: width 0.9s;
  overflow: hidden;
  height: 300px;
  right: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.navbar #nav-right > li:first-of-type .tips ul {
  float: left;
  padding: 0;
  width: 45%;
  padding: 0 0 0 24px;
}
.navbar #nav-right > li:first-of-type .tips ul p {
  margin: 10px 0;
  font-weight: bold;
}
.navbar #nav-right > li:first-of-type .tips ul li {
  list-style: none;
  font-size: 10px;
  padding: 3px 0;
  line-height: 15px;
}
.navbar #nav-right > li:nth-of-type(2) {
  margin-left: 235px;
}
.navbar #nav-right > li:nth-of-type(2) a {
  color: #666;
  line-height: 50px;
}
.navbar #nav-right > li:nth-of-type(2) a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car {
  margin-left: 20px;
  position: relative;
}
.navbar #nav-right .car a {
  color: #666;
}
.navbar #nav-right .car a span {
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
}
.navbar #nav-right .car a i {
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 5px;
  line-height: 16px;
  position: absolute;
  background-color: red;
  color: #fff;
  top: 8px;
  left: -3px;
  font-style: normal;
}
#smallAdd {
  position: relative;
}
#smallAdd .swiper-container {
  width: 100%;
  color: #fff;
}
#smallAdd .swiper-container img {
  width: 100%;
  display: block;
}
#smallAdd #closetop {
  position: absolute;
  right: 10px;
  width: 2rem;
  height: 2rem;
  z-index: 999999;
  top: 50%;
  margin-top: -1rem;
  text-align: center;
  cursor: pointer;
}
#smallAdd #closetop span {
  color: #eee;
}
#footer {
  background-color: #e6e6e6;
}
#footer .container-fulid {
  height: 63px;
  padding: 10px 0;
  border-bottom: 1px solid #b0b0b0;
}
#footer .container-fulid .row {
  height: 100%;
}
#footer .container-fulid .col-md-6 {
  height: 100%;
  padding: 0 100px;
}
#footer .container-fulid .col-md-6 a {
  display: block;
  width: 100px;
  height: 100%;
  text-decoration: none;
}
#footer .container-fulid .col-md-6 a p {
  text-align: right;
  font-size: 25px;
  color: #1d80ca;
}
#footer .container-fulid .col-md-6 .pull-right {
  background: url(../img/footer-3-icons.png) no-repeat 0px 0px;
}
#footer .container-fulid .col-md-6 .pull-left {
  background: url(../img/footer-3-icons.png) no-repeat -500px 0px;
}
#footer .container {
  border-bottom: 1px solid #b0b0b0;
}
#footer .container .footer-pay > div {
  line-height: 80px;
}
#footer .container .footer-pay > div img {
  margin: 0 10px;
}
#footer .container .footer-main ul {
  float: left;
  margin: 0;
  padding: 0 115px 40px 0;
}
#footer .container .footer-main ul h3 {
  font-size: 1rem;
  font-weight: bold;
}
#footer .container .footer-main ul li {
  list-style: none;
}
#footer .container .footer-main ul li a {
  color: #bfbfbf;
  line-height: 30px;
}
#footer .container .footer-main > div p {
  font-weight: bold;
  padding: 10px 0;
  font-size: 1.5rem;
}
#footer .container .footer-main > div a:nth-of-type(2) {
  position: relative;
  margin-left: 15px;
}
#footer .container .footer-main > div a:nth-of-type(2) .qrcode {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 999;
  width: 200px;
  display: none;
}
#footer .container .footer-main > div a:nth-of-type(2):hover .qrcode {
  display: block;
}
#footer .container .footer-main > div fieldset {
  width: 350px;
  position: relative;
}
#footer .container .footer-main > div fieldset input {
  display: block;
  position: absolute;
  outline: none;
  border: 0;
  height: 100%;
  width: 300px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#footer .container .footer-main > div fieldset button {
  background-color: #333;
  color: #fff;
  width: 50px;
  border: 0;
  font-size: 20px;
  height: 100%;
  padding: 0;
  margin: 0;
}
#footer .footer-bottom {
  padding: 15px 0 80px;
}
#footer .footer-bottom p {
  margin: 0;
}
#footer .footer-bottom img {
  margin: 0 20px;
}
#banner {
  width: 100%;
  height: 605px;
  margin: 0 auto;
  position: relative;
  background-color: red;
  overflow: hidden;
}
#banner > div {
  position: absolute;
  width: 10000px;
}
#banner > div img {
  float: left;
}
#banner span {
  visibility: hidden;
  position: absolute;
  top: 45%;
  font-size: 10px;
  width: 70px;
  height: 70px;
  background-color: rgba(102, 102, 102, 0.2);
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  color: grey;
}
#banner span:hover {
  background-color: rgba(102, 102, 102, 0.9);
  border-radius: 50%!important;
}
#banner span:first-of-type {
  left: 6%;
}
#banner span:last-of-type {
  right: 6%;
}
#banner span:hover {
  color: #000;
  border-radius: 20%;
  user-select: none;
  cursor: pointer;
}
#banner .dot {
  padding: 0;
  position: absolute;
  width: 150px;
  list-style: none;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}
#banner .dot li {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin: 10px;
  cursor: pointer;
}
#banner .dot li:hover {
  background-color: #000;
}
#banner .dot li.active {
  background-color: #000;
}
#main-1 .row {
  margin-top: 2rem;
}
#main-1 .row .col-md-3 {
  padding: 5px;
  position: relative;
}
#main-1 .row .col-md-3 a {
  color: #000;
}
#main-1 .row .col-md-3 a span {
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-weight: 900;
}
#main-1 .row .col-md-3 a p {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
  font-size: 2rem;
}
#main-2 .row {
  margin-top: 2rem  ;
}
#main-2 .row a {
  display: block;
  padding: 0 5px;
  position: relative;
}
#main-2 .row a img {
  width: 100%;
}
#main-2 .row a span {
  position: absolute;
  top: 45%;
  right: 10%;
  background-color: #000;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
#main-2 .row a span:hover {
  color: #eee;
}
#main-3 h2 {
  font-weight: 700;
}
#main-3 .slider-1,
#main-3 .slider-2 {
  position: relative;
}
#main-3 .slider-1 .swiper-button-prev,
#main-3 .slider-2 .swiper-button-prev,
#main-3 .slider-1 .swiper-button-next,
#main-3 .slider-2 .swiper-button-next {
  color: #000;
  outline: none;
}
#main-3 .slider-1 .swiper-button-prev:after,
#main-3 .slider-2 .swiper-button-prev:after,
#main-3 .slider-1 .swiper-button-next:after,
#main-3 .slider-2 .swiper-button-next:after {
  font-size: 20px!important;
  font-weight: bold;
}
#main-3 .swiper-container {
  width: 90%;
  height: 200px;
}
#main-3 .slider-2 .swiper-container {
  height: 250px;
}
#main-3 .swiper-slide > div {
  float: left;
  box-sizing: border-box;
  height: 100%;
  width: 25%;
}
#main-3 .swiper-slide > div a {
  color: #000;
  display: block;
  height: 100%;
}
#main-3 .swiper-slide > div a:hover {
  text-decoration: none;
}
#main-3 .swiper-slide > div a img {
  width: 100%;
  padding: 10px 20px;
  object-fit: cover;
}
#main-3 .swiper-slide > div a p {
  margin-bottom: 2px;
  font-size: 1.5rem;
  color: #555;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main-3 .swiper-slide > div a span {
  color: #fff;
  background-color: #000;
  padding: 5px 15px;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
#main-4 {
  margin-top: 2rem;
}
#main-4 .container {
  padding: 0;
}
#main-4 .container > div:last-of-type {
  margin-top: 2rem;
}
#main-4 .container .col-md-6 {
  overflow: hidden;
  position: relative;
  padding: 0 8px;
}
#main-4 .container .col-md-6 .textbox {
  position: absolute;
  top: 40%;
  right: 35px;
  font-size: 35px;
  color: #fff;
}
#main-4 .container .col-md-6 .textbox span {
  float: right;
  font-size: 25px;
  text-decoration: underline #fff;
}
.bottomBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bottomBtn .col-md-12 {
  padding: 0 3rem;
}
.bottomBtn .col-md-12 a {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #000;
  line-height: 80px;
  font-size: 2rem;
  color: #fff;
}
#nav-right > li:first-of-type {
  height: 30px;
  width: 310px;
  position: absolute;
  top: 10px;
  right: 205px;
}
#nav-right > li:first-of-type fieldset {
  /* border: 1px solid #333; */
  position: absolute;
  width: 300px;
  height: 100%;
}
#nav-right > li:first-of-type #search {
  width: 130px;
  height: 100%;
  float: right;
  transition: width 1s;
  outline: none;
}
#nav-right > li:first-of-type .magnifier {
  position: absolute;
  top: -10px;
  right: 0;
}
#nav-right > li:first-of-type .magnifier span {
  padding: 0 10px;
  cursor: pointer;
}
#nav-right > li:first-of-type .tips {
  position: absolute;
  /* width: 100%; */
  width: 0%;
  top: 27px;
  box-sizing: border-box;
  border-top: 0;
  transition: width 0.9s;
  overflow: hidden;
  height: 300px;
  right: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#nav-right > li:first-of-type .tips ul {
  float: left;
  padding: 0;
  width: 45%;
  padding: 0 0 0 24px;
}
#nav-right > li:first-of-type .tips ul p {
  margin: 10px 0;
  font-weight: bold;
}
#nav-right > li:first-of-type .tips ul li {
  list-style: none;
  font-size: 10px;
  padding: 3px 0;
  line-height: 15px;
}
