@charset 'utf8';
*{
    padding: 0;
    margin: 0;
}
#topbar{
    background-color: red; 
    height: 25px;
    line-height: 25px;
    padding:0 20px;
    background-color: #b1b1b2;
    .top-left{
        a{
            color:#fff;
        }
    }
    .top-right{
        ul{
            overflow: hidden;
            list-style: none;
            margin: 0;
            li{
                float: left;
                padding-left:10px ;
                span{color: #fff;
                padding:0 10px};
                a{color:#fff;}
            }
        }
    }
}
.navbar{
    background-color: #fff;
    margin: 0;
    .container>.pull-left{
        overflow: hidden;
        list-style: none;
        margin: 0;
        width: 45%;
        >li{
            float: left;
            padding-right: 2rem;
            // box-sizing: border-box;
            &:hover{
                >a{
                    border-bottom:4px solid #000 ;
                }
                .subnav{
                    display: block;
                }
            }
            >a{
                padding:  0 1.2rem;
                line-height: 50px;
                color: #000;
                text-decoration: none;
                display: block;
                height: 50px;
            }
            .subnav{
                z-index: 9999;
                position: absolute;
                width: 100%;
                left: 0;
                background-color: #fff;
                padding: 60px 0;
                display: none;
                border-bottom: 1px solid #333;
                border-top: 1px solid #333;
                .col-md-6{
                    // height: 300px;
                    // background-color: burlywood;
                    ul{
                        float: left;
                        list-style: none;
                        margin-right: 30px;
                        width: 100px;
                        li{
                            line-height: 3rem;
                            >a{
                                color:#333;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .newProducts{
                    width: 80%;
                    margin: 0 auto;
                    a{
                        display: block;
                        width: 20%;
                        float: left;
                        padding: 10px;
                        text-align: center;
                        color:#333;
                        text-decoration: none;
                        img{
                            width: 100%;
                            display: block;
                        }
                        p{
                            padding-top: 10px;
                        }
                    }
                }
                .stars{
                    a{
                        color:#333;
                        text-decoration: none;
                        img{
                            width: 250px;
                        }
                        p{
                            padding-top: 10px;
                        }
                    }
                }
            }
        .row >div:nth-of-type(2){
            // background-color: chartreuse;
            p{
                margin-bottom: 30px;
            }
            a{
                color:#000;
                text-decoration: none;
            }

        }
        }

    }
    #nav-right{
        position: relative;
        >li{
            list-style: none;
            float: left;
            line-height: 50px;
        }
        >li:nth-of-type(1){
            //搜索框
            position: absolute;;
            border: 1px solid #b1b1b2;
            width: 132px;
            border-radius: 2px;
            line-height: 25px;
            margin-top: 10px;

            input{
                width: 100px;
                border:0;
                outline: none;
                padding: 0 1rem;
                transition: all 1s;
            }
        }
        >li:nth-of-type(2){
            margin-left: 235px;
            a{
                color: #666;
                line-height: 50px;
                span{
                    font-size: 25px;
                    line-height: 50px;
                    vertical-align: middle;

                }
            }
        }
        .car{
            margin-left: 20px;
            position: relative;
            a{
                color:#666;
                span{
                    font-size: 25px;
                    line-height: 50px;
                    vertical-align: middle;
                }
            }
            span::after{
                content: "0";
                display: block;
                width: 15px;
                height: 15px;
                text-align: center;
                border-radius: 50%;
                font-size: 5px;
                line-height: 13px;
                position: absolute;
                background-color: red;
                color: #fff;
                top:8px;
                left: -3px;
                
            }
        }
    }
}
#smallAdd {
    position: relative;
    .swiper-container {
        width: 100%;
        color: #fff;
        img {
            width: 100%;
            display: block;
        }
    }
    #closetop {
        position: absolute;
        right: 10px;
        width: 2rem;
        height: 2rem;
        z-index: 999999;
        top: 50%;
        margin-top: -1rem;
        text-align: center;
        cursor: pointer;
        span {
            color: #eee;
        }
    }
    
}